/* $Id$ */

div.taxonomy-tree ul.menu {
  margin: 0;
}
div.taxonomy-tree ul.menu li {
  cursor: pointer;
  margin: 2px 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
div.taxonomy-tree ul.menu label {
  cursor: pointer;
  font-weight: normal;
  padding: 0 5px;
}
div.taxonomy-tree ul.menu label:hover {
  background-color: #EEE;
}
div.taxonomy-tree ul.menu label.active {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}

/**
 * Colors for Garland theme
 */
div.taxonomy-tree-garland ul.menu label:hover {
  background-color: #EDF5FA;
}
div.taxonomy-tree-garland ul.menu label.active {
  background-color: #027AC6;
}